body {margin-left:100px;margin-right:100px;}
a {text-decoration: none; color: green}
li {margin-top:10px;}
img {border:0px;}
td.date {border: solid thin #000000; margin-top: 20px;}
table {margin-left:50px;margin-right:50px;}
